* {
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-top: 1px;
  width: 315px;
  height: 750px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  position: relative;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 0 15px;
}

.display {
  font-size: 72px;
  margin-bottom: 5px;
  font-weight: 300;
  text-align: right;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.bottom {
  position: absolute;
  width: 200px;
  height: 4px;
  background: #ffffff;
  bottom: 10px;
  left: 50%;
  border-radius: 4px;
  transform: translateX(-50%);
}